/************** VARIABLES **************/
/************** CLEAR STYLES **************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/************** NAVIGATION **************/
.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 40px;
  width: 100%;
  height: 60px;
}

.logo img {
  width: 100px;
  height: auto;
}

.navbar-nav {
  text-align: right;
  background: none;
  padding: 4px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: lighter;
}

.nav-item {
  text-transform: uppercase;
  margin: 0 10px;
  display: inline-block;
}

.nav-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #fed136;
}

/************** HEADER **************/
.splash {
  background-image: url("../images/home-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  min-height: 750px;
}

.box-splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 600px;
  text-align: center;
}

.box-inner {
  display: inline-block;
}

.page-title {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

.page-subtitle {
  padding-top: 6px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-box {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  padding: 20px 40px;
  border-radius: 6px;
  background-color: #fed136;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-box:hover {
  background: #000000;
  color: #fed136;
}

/************** SERVICES **************/
.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  text-align: center;
}

.space-top {
  margin-top: 100px;
}

.space-bottom {
  margin-bottom: 100px;
}

.space-top-20 {
  margin-top: 20px;
}

.box-services {
  margin-bottom: 60px;
  display: inline-block;
}

.services-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

i {
  font-size: 36px;
  color: #fed136;
  border-radius: 50%;
}

.icon {
  padding-top: 20px;
  width: 80px;
  height: 80px;
  border: 2px solid #fed136;
}

.services-option {
  margin-top: 20px;
  font-weight: bold;
}

.services-text {
  margin-top: 20px;
}

/************** OUR PORTFOLIO **************/
.portfolio {
  display: inline-block;
  background: silver;
  height: auto;
  width: 100%;
  text-align: center;
}

.box-3-portfolio {
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-portfolio {
  width: calc(33.333333% - 36px);
  margin: 18px;
  height: 420px;
  background: #ffffff;
}

.img-portfolio {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 330px;
}

.box-inner-portfolio {
  padding-top: 15px;
}

.portfolio-h4 {
  font-size: 20px;
  font-weight: bolder;
}

.portfolio-p {
  font-size: 14px;
  font-style: italic;
}

/************** FOOTER **************/
footer {
  background: #ffffff;
}

.box-2-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100px;
}

.copyright {
  padding-left: 20px;
  font-size: 16px;
  width: 33.33333%;
}

.social-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 33.33333%;
}

.ico {
  margin: 6px;
  width: 60px;
  height: 60px;
  display: inline-block;
  background: #000000;
  border-radius: 50%;
  text-align: center;
  font-size: 0;
  line-height: 1;
  transition: all 400ms ease-in-out;
}

.social-media li i {
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
}

.ico:hover {
  transform: scale(1.2, 1.2);
}

.empty-footer-box {
  width: 33.33333%;
}

/************** RWD **************/
@media (min-width: 768px) and (max-width: 1024px) {
  .box-2-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .copyright {
    margin: 40px 0 40px 0;
    font-size: 12px;
    padding-left: 20px;
    text-align: left;
    width: 33.333%;
  }
  .social-media {
    margin: 40px 0 40px 0;
    width: 43.333%;
  }
  .empty-footer-box {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navigation {
    display: inline;
  }
  .logo {
    padding-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .navbar-nav {
    margin-top: 20px;
    text-align: center;
  }
  .nav-item {
    margin: 0 4px;
  }
  .nav-link {
    background-color: #fed136;
    padding: 5px;
    color: black;
    border-radius: 4px;
  }
  .nav-link:hover {
    color: #fed136;
    padding: 5px;
    background-color: #000000;
    border-radius: 4px;
  }
  .spalsh {
    min-height: 650px;
  }
  .box-splash {
    height: 500px;
  }
  .box-services {
    margin-bottom: 20px;
  }
  .space-top {
    margin-top: 40px;
  }
  .space-bottom {
    margin-bottom: 40px;
  }
  .box-portfolio {
    width: calc(43.333333% - 36px);
    height: 370px;
  }
  .img-portfolio {
    height: 280px;
  }
  .box-2-footer {
    display: inline-block;
  }
  .copyright {
    margin: 40px 0 20px 0;
    font-size: 12px;
    padding-left: 0;
    text-align: center;
    width: auto;
  }
  .social-media {
    margin: 20px 0 40px 0;
    width: auto;
  }
  .empty-footer-box {
    display: none;
  }
}

@media (max-width: 480px) {
  .navigation {
    display: inline;
  }
  .logo {
    padding-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .navbar-nav {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
  }
  .nav-item {
    margin: 0 2px;
  }
  .nav-link {
    background-color: #fed136;
    padding: 4px;
    color: black;
    border-radius: 4px;
  }
  .nav-link:hover {
    color: #fed136;
    padding: 4px;
    background-color: #000000;
    border-radius: 4px;
  }
  .splash {
    min-height: 550px;
  }
  .box-splash {
    height: 400px;
  }
  .page-title {
    font-size: 14px;
  }
  .page-subtitle {
    font-size: 30px;
  }
  .btn-box {
    font-size: 12px;
    padding: 10px 20px;
  }
  .box-services {
    margin-bottom: 20px;
  }
  .space-top {
    margin-top: 40px;
  }
  .space-bottom {
    margin-bottom: 40px;
  }
  .box-portfolio {
    width: 100%;
  }
  .box-2-footer {
    display: inline-block;
  }
  .copyright {
    margin: 40px 0 20px 0;
    font-size: 12px;
    padding-left: 0;
    text-align: center;
    width: auto;
  }
  .social-media {
    margin: 0 0 40px 0;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */