/*variables*/
$font-body: 'Roboto', sans-serif;
.padding-top-100 {
    padding-top: 100px;
}
.margin-top-100 {
    margin-top: 100px;
}
.padding-bottom-100 {
    padding-bottom: 100px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: $font-body;
}
/* NAVIGATION */
.navbar {
    padding-top: 20px;
    width: 100%;
    height: 60px;
}
.navbar-logo img {
    padding-top: 10px;
    width: 100px;
    height: auto;
}
.navbar-nav {
    float: right;
    background: none;
    padding: 4px 0;
    list-style-type: none;
}
.nav-item {
    text-transform: uppercase;
    margin: 0 10px;
    display: inline-block;
}
.nav-link {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
/* HEADER */
.splash {
    background-image: url('../images/home-bg.jpg');
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    height: 700px;
}
.box-splash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px; /*czy to jest ok?*/
    text-align: center;
}
.box-inner {
    display: inline-block;
}
.page-title {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}
.page-subtitle {
    padding-top: 6px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-box {
    display: inline-block;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    padding: 16px 20px;
    border-radius: 2px;
    background-color: orange;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}
/* SERVICES */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px; /*czy to jest ok?*/
    text-align: center;
}
.box-services {
    display: inline-block;
}
.services-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}
.box-3-columns {
    margin-top: 100px;
}
i {
    font-size: 36px;
    color: orange;
    border-radius: 50%;
}
.icon {
    padding-top: 20px;
    width: 80px;
    height: 80px;
    border: 2px solid orange;
}
.services-option {
    margin-top: 20px;
    font-weight: bold;
}
.services-text {
    margin-top: 20px;
}
/*OUR PORTFOLIO*/
.portfolio {
    display: inline-block;
    background: silver;
    height: auto;
    width: 100%;
    text-align: center;
}
.box-3-portfolio {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.box-portfolio {
    width: calc(33.333333% - 36px);
    margin: 18px;
    height: 420px;
    background: #ffffff;
}
.img-portfolio {
    object-fit: cover;
    width: 100%;
    height: 330px;
}
.box-inner-portfolio {
    padding-top: 15px;
}
.portfolio-h4 {
    font-size: 20px;
    font-weight: bolder;
}
.portfolio-h5 {
    font-size: 14px;
    font-style: italic;
}
/*FOOTER*/
footer {
    background: #ffffff;
}
.box-2-footer {
    display: flex;
    height: 140px;
    flex-wrap: wrap;
    align-items: center;
}
.copyright {
    font-size: 16px;
    width: 380px;
    padding-left: 20px;
}
.social-media {
    display: inline-block;
}
.icon-social {
    padding-top: 15px;
    padding-left: 15px;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background: #000000;
    color: white;
}